//颜色定义
$color-background = #0572D7
$color-background-gradual = linear-gradient(top, #0572D7, #23E2F4) no-repeat
$color-background-btn = #3357cc
$color-background-tab = rgb(174, 148, 242)
$color-text-tit = #805196
$color-text = #555
$color-purple = purple
$color-white = #fff

//字体大小定义
$font-size-small = 12px
$font-size-medium = 14px
$font-size-large = 16px